doctype html
html(lang='zh-cmn-Hans')
    include ./template/head.jade
    body
        .container
            header.one-header
                .one-logo
                    a.one-brand.icon-fp-logo(href='http://localhost:3000/')
            .tab-content
                section#index.tab-pane.one-content.active(role="tab")
                    figure.one-picture
                        img(src='images/picture/custom.jpg')
                        //img(src='http://pic.yupoo.com/hanapp/F7rMa2c3/custom.jpg')
                        figcaption.one-picture-footer
                            | 海鸥
                            br
                            | 跑焦·朱树芃 作品
                            .one-no #{vol}
                    .one-motto
                        .one-motto-content
                            | #{motto}
                        .one-motto-date
                            .day #{day}
                            .month #{year}
                section#article.tab-pane.one-content(role="tab")
                    .one-principal
                        p #{articlePrincipal}
                    article
                        h2 #{articleTitle}
                        i #{articleAuthor}
                        each item in articleContent
                            p.one-article #{item.content}
                section#question.tab-pane.one-content(role="tabpanel")
                    .one-ask
                        .ask-icon.icon-cuestion
                        article
                            h4 #{questionTitle}
                            p #{questionAsk}
                    .one-answer
                        .answer-icon.icon-cuestion
                        article
                            h4 #{questionAnswer}
                            each item in questionContent
                                p #{item.content}
                section#goods.tab-pane.one-content(role="tab")
                    figure.one-goods
                        img(src='images/picture/zEnMd.jpg')
                        figcaption
                            | 铅笔刀罐子
                            br
                            p 一款可以将铅笔屑完整储存的铅笔刀。优美的木屑不但有装饰功能，还能记录你奋笔疾书的工作量。
            nav.one-navbar.container
                ul.row
                    li.col-xs-3.active
                        a(href='#index',aria-controls="index",role="tab",data-toggle="tab")
                            span.glyphicon.glyphicon-home
                            | 首页
                    li.col-xs-3
                        a(href='#article',aria-controls="article",role="tab",data-toggle="tab")
                            span.glyphicon.glyphicon-book
                            | 文章
                    li.col-xs-3
                        a(href='#question',aria-controls="question",role="tab",data-toggle="tab")
                            span.glyphicon.glyphicon-question-sign
                            | 问题
                    li.col-xs-3
                        a(href='#goods',aria-controls="goods",role="tab",data-toggle="tab")
                            span.glyphicon.glyphicon-gift
                            | 东西