extends layout

block content
    .container
        header.one-header
            .one-logo
                a.one-brand.icon-fp-logo(href='http://localhost:3000/')
        .tab-content
            section#index.tab-pane.one-content.active(role="tab")
                figure.one-picture
                    img(src='images/picture/20110824.jpg')
                    //img(src='http://pic.yupoo.com/hanapp/F6ZB4JsI/custom.jpg')
                    figcaption.one-picture-footer
                        | 安静的位置
                        br
                        | Violet_QQY 作品
                        .one-no #{vol}
                .one-motto
                    .one-motto-content
                        | #{motto}
                    .one-motto-date
                        .day #{day}
                        .month #{year}
                p(style='margin-bottom:60px;')
                    |免责声明：该网页内容均来自
                    a(href='http://wufazhuce.com/')
                        i(style='text-decoration:underline;color:#0095e4;')  http://wufazhuce.com/
                    | ，纯属个人娱乐，不推广不做任何商业用途。
            section#article.tab-pane.one-content(role="tab")
                .one-principal
                    p #{articlePrincipal}
                article
                    h2 #{articleTitle}
                    i #{articleAuthor}
                    each item in articleContent
                        p.one-article #{item.content}
            section#question.tab-pane.one-content(role="tabpanel")
                .one-ask
                    .ask-icon.icon-cuestion
                    article
                        h4 #{questionTitle}
                        p #{questionAsk}
                .one-answer
                    .answer-icon.icon-cuestion
                    article
                        h4 #{questionAnswer}
                        each item in questionContent
                            p #{item.content}
            section#goods.tab-pane.one-content(role="tab")
                figure.one-goods
                    img(src='images/picture/xuemeiniang.jpg')
                    figcaption
                        | 红烧肉家的雪媚娘
                        br
                        p 柔嫩软糯外皮，包裹着清新香甜的新鲜水果肉；入口即化的天然奶油，口感层次丰富，令人爱不释口。吃货的不二之选。
        nav.one-navbar.container
            ul.row
                li.col-xs-3.active
                    a(href='#index',aria-controls="index",role="tab",data-toggle="tab")
                        span.glyphicon.glyphicon-home
                        | 首页
                li.col-xs-3
                    a(href='#article',aria-controls="article",role="tab",data-toggle="tab")
                        span.glyphicon.glyphicon-book
                        | 文章
                li.col-xs-3
                    a(href='#question',aria-controls="question",role="tab",data-toggle="tab")
                        span.glyphicon.glyphicon-question-sign
                        | 问题
                li.col-xs-3
                    a(href='#goods',aria-controls="goods",role="tab",data-toggle="tab")
                        span.glyphicon.glyphicon-gift
                        | 东西